@font-face {
  font-family: 'CircularWeb';
  src: url("/apollo/fonts/CircularStd-Book.otf") format("opentype");
}

@font-face {
  font-family: 'CircularWeb';
  font-weight: bold;
  src: url("/apollo/fonts/CircularStd-Bold.otf") format("opentype");
}

body {
  background-color: black !important;
  color: white;
  font-family: 'CircularWeb', Europa, sans-serif;
}

h1 {
  line-height: 100%;
}

p {
  color: #888;
}